body {
  background-color: #282c34;
}

/* Fix the semantic ui table component to allow dropdown to be render properly */
.ui.fixed.table td {
  overflow: visible;
}

#root header {
  margin-top: 1rem;
  height: 4rem;
}

@media screen and (min-width: 480px) {
  #root main {
    height: calc(100vh - 1rem - 4rem - 4rem);
  }
}

#root footer {
  height: 4rem;
}
